# Ignorar directorios bin y obj
**/bin/
**/obj/

# Ignorar archivos generados por Visual Studio y Rider
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignorar archivos temporales y logs
*.log
*.vs/

# Ignorar archivos de configuración de Rider
.idea/
.idea/**

# Ignorar archivos de compilación generados por Visual Studio y otros IDEs
**/*.dll
**/*.exe
**/*.pdb
**/*.cache
