# Ignorar directorios bin y obj
**/bin/
**/obj/

# Ignorar archivos generados por Rider o Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignorar caché de Rider
.idea/
*.idea/

# Ignorar archivos temporales y logs
*.log
*.vs/

# Ignorar archivos de compilación generados por Visual Studio y otros IDEs
**/*.dll
**/*.exe
**/*.pdb

# Ignorar directorios y archivos de configuración de IntelliJ IDEA
.idea/
.idea/.idea.Presupuestos/
.idea/vcs.xml
